.Todos-list{
    width: 88%;
    border-radius: 100px;
    display: flex;
   justify-content: space-between;
  
   margin: 20px auto;
   background-color: #111827;
   padding: 20px;
   font-size: 20px;
   letter-spacing:2px;
} 
.Todos-list-edit{
    display: flex;
    width :20%;
    justify-content: space-between;
}

.ListIcon{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

@media (max-width:400px) {
    .Todos-list{
        padding: 17px;
   font-size: 18px;
   letter-spacing:1px;
    }
}